<%- include('../partials/headers&footers/bootstrap-header') %>
<%- include('../partials/navs/apply_nav') %>

<h1>Client Information</h1>
<p>Full Name: <%= form.First%> <%= form.Middle %> <%= form.Last %></p>
<p>Date of Birth: <%= form.DOB %></p>
<p>Home Address: <%= form.Address %></p>
<p>Email Addresss: <%= form.Email %></p>
<p>Home Phone: <%= form.HomePhone %></p>
<p>Mobile Phone: <%= form.MobilePhone %></p>
<p>Emergency Contact: <%= form.EmergencyContactName %></p>
<p>Relationship to Client: <%= form.EmergencyContactRelationship %></p>
<p>Emergency Contact Number: <%= form.EmergencyContactNumber %></p>
<p>Primary Provider: <%= form.PrimaryProvider %></p>
<p>Secondary Provider: <%= form.SecondaryProvider %></p>
<p>Submitted: <%= form.createdAt %></p>


<%- include('../partials/headers&footers/footer') %>