<%- include('../partials/headers&footers/bootstrap-header') %>
<%- include('../partials/navs/apply_nav') %>

<div class="apply-client-form-wrap">
    <h1><%= form.First %>'s Information</h1>
    <a href="/applications/<%= form._id %>/edit">
        <button class="btn btn-primary">Edit</button>
      </a>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
        Delete
        </button>
        
        
        <form
            class="add-user-form"
            action=""
          >
            <small id="passwordHelpInline" class="text-muted">
                Client's First Name
            </small>
            <input
              type="text"
              class="form-control"
              name="First"
              value="<%= form.First%>"
              autofocus
              readonly
            />
    
            <small id="passwordHelpInline" class="text-muted">
                Client's Middle Name
              </small>
              <input
                type="text"
                class="form-control"
                name="Middle"
                value="<%= form.Middle %>"
                autofocus
                readonly
              />
    
            <small id="passwordHelpInline" class="text-muted">
              Client's Last Name
            </small>
    
            <input
              type="text"
              class="form-control"
              name="Last"
              value="<%= form.Last %>"
              autofocus
              readonly
            />
    
            <small id="passwordHelpInline" class="text-muted">
                Client's Date of Birth
              </small>
      
              <input
                type="datetime-local"
                class="form-control"
                name="DOB"
                value="<%=form.DOB.toISOString().split("Z")[0]%>%>"
                autofocus
                readonly
              />
    
              <small id="passwordHelpInline" class="text-muted">
                Client's address
              </small>
      
              <input
                type="text"
                class="form-control"
                name="Address"
                value="<%= form.Address %>"
                autofocus
                readonly
              />
    
              <small id="passwordHelpInline" class="text-muted">
                Client's email address
              </small>
      
              <input
                type="email"
                class="form-control"
                name="Email"
                value="<%= form.Email %>"
                autofocus
                readonly
                placeholder="your_email@gmail.com"
              />
    
              <small id="passwordHelpInline" class="text-muted">
                Client's Home Phone Number
              </small>
      
              <input
                type="text"
                class="form-control"
                name="HomePhone"
                value="<%= form.HomePhone %>"
                autofocus
                readonly
              />
    
              <small id="passwordHelpInline" class="text-muted">
                Client's Mobile Phone Number
              </small>
      
              <input
                type="text"
                class="form-control"
                name="MobilePhone"
                value="<%= form.MobilePhone %>"
                autofocus
                readonly
              />
    
              <small id="passwordHelpInline" class="text-muted">
                Client Emergency Contact Name
              </small>
      
              <input
                type="text"
                class="form-control"
                name="EmergencyContactName"
                value="<%= form.EmergencyContactName %>"
                autofocus
                readonly
              />
    
              <small id="passwordHelpInline" class="text-muted">
                Contact Relationship to client
              </small>
      
              <input
                type="text"
                class="form-control"
                name="EmergencyContactRelationship"
                value="<%= form.EmergencyContactRelationship %>"
                autofocus
                readonly
              />
    
              <small id="passwordHelpInline" class="text-muted">
                Emergency Contact Number
              </small>
      
              <input
                type="text"
                class="form-control"
                name="EmergencyContactNumber"
                value="<%= form.EmergencyContactNumber %>"
                autofocus
                readonly
              />
    
              <small id="passwordHelpInline" class="text-muted">
                Medical/Health Insurance Provider
              </small>
      
              <input
                type="text"
                class="form-control"
                name="PrimaryProvider"
                value="<%= form.PrimaryProvider %>"
                autofocus
                readonly
              />
    
              <small id="passwordHelpInline" class="text-muted">
                Secondary Medical/Insurance Provider
              </small>
      
              <input
                type="text"
                class="form-control"
                name="SecondaryProvider"
                value="<%= form.SecondaryProvider %>"
                autofocus
                readonly
              />
          </form>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirm Deletion</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this application?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              
              <!--Delete Action-->
              <form action="/applications/<%= form._id %>?_method=DELETE" method="POST">
                <button type="button submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>

<%- include('../partials/headers&footers/bootstrap-footer') %>